<div class="flex h-screen">
  <div class="m-auto">
    <h3 class='text-5xl text-center'>No, No No</h3>
    <h3 class='text-5xl text-center'>Micheal!</h3>
    <h3 class='text-5xl text-center'>That was so not right!</h3>
  </div>
</div>
